@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>更新日志</h3>
        <div style="padding: 0 20px">
            <h4 style="margin: 0;">2017-04-17:</h4>
            <div style="padding: 0 20px">
                <p>
                    1. 解析绑定域名www.xianmap.com
                    前台地址www.xianmap.com
                    后台地址www.xianmap.com/login/index
                </p>
                <p>
                    2. 清除系统测试数据
                </p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-04-05:</h4>
            <div style="padding: 0 20px">
                <p>
                    1. 解析绑定域名www.xianmap.com
                    前台地址www.xianmap.com
                    后台地址www.xianmap.com/login/index
                </p>
                <p>
                    2. 清除系统测试数据
                </p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-03-10:</h4>
            <div style="padding: 0 20px">
                <p>
                    1. 首页“地图文化展示”只显示前3个内容
                </p>
                <p>
                    2. 内容详情页增加面包屑导航
                </p>
                <p>
                    3. 修复点赞出错的问题
                </p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-03-05:</h4>
            <div style="padding: 0 20px">
                <p>
                    1. 系统网页标签改为“西安地图出版社管理系统”
                </p>
                <p>
                    2. 模块化定制与自定义定制增加“联系人”“联系方式”
                </p>
                <p>3. 书库列表显示分类</p>
                <p>4. 地图故事列表页面增加图片点击跳转</p>
                <p>5. 文章详情增加图片点击放大显示功能</p>
                <p>6. 友情链接点击打开新页面</p>
                <p></p>
                说明:
                <p>1. 门户网站注册后，验证码长时间无法在邮箱内收到。（邮件是发送到接收邮箱，接收时间取决注册邮箱服务器）</p>
            </div>
        </div>

    </div>
</body>
</html>
