@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>更新日志</h3>
        <div style="padding: 0 20px">
            <h4 style="margin: 0;">2017-04-07:</h4>
            <div style="padding: 0 20px">
                <p>1. 页面上增加页码显示</p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-04-05:</h4>
            <div style="padding: 0 20px">
                <p>1. 增加书籍封面及内容简介的页面，增加用户点击量</p>
                <p>2. 更改背景音乐默认为关闭</p>
                <p>3. 自动记录用户的最后阅读位置，当下一次点进去时可直接跳转至上次阅读的地方</p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-03-17:</h4>
            <div style="padding: 0 20px">
                <p>1. 书籍阅读页面：翻页位置增加目录功能</p>
                <p></p>
                说明:
                <p>1. 该功能需要上传的书籍文档设置正确的目录：word目录可以通过打开word=>菜单=>引用=>左上角的目录按钮添加和更新目录</p>
            </div>
            <h4 style="margin: 0;">2017-03-16:</h4>
            <div style="padding: 0 20px">
                <p>1. 书籍阅读页面：增加背景音乐</p>
                <p>2. 新增书籍时可上传mp3格式背景音乐</p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-03-13:</h4>
            <div style="padding: 0 20px">
                <p>1. 书籍阅读页面：书籍名称左侧增加书签管理功能</p>
                <p></p>
            </div>
            <h4 style="margin: 0;">2017-03-05:</h4>
            <div style="padding: 0 20px">
                <p>1. 护眼、关灯模式的颜色调整</p>
                <p>2. 电子书图片不显示修复</p>
                <p></p>
                说明:
                <p>1. 电子书阅读，不能在目录上直接按章跳转。（书籍为word导入，无法做到点击目录跳转）</p>
                <p>2. 电子书无书签标记。（右上角图标为书签标记,点击可以加入或删除书签，深色为已加入书签）</p>
            </div>
        </div>

    </div>
</body>
</html>
