@using LeaRun.Application.Entity.ExtendManage
@using LeaRun.Application.Entity.PublicInfoManage
<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 footer-descri">
                <h1>地图出版社</h1>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安地图出版社成立于1985年，是国务院测绘地理信息行政管理部门核准，国务院新闻出版署批准成立的专业出版机构，事业单位编制。2012年，依据中央文化体制改革的文件精神，西安地图出版社转为中央文化企业，主业为出版发行各类地图、地学、地理学和相关的自然科学类图书，同时经营与主业相应的网络电子版产品，研发和推广特种地图，兼营测绘工程业务。 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改制后的西图社秉承“诚信敬业、勤劳质朴、宽厚包容、务实进取”的企业发展理念，始终坚持“为人民服务、为社会主义服务”的出版方向，坚持“百花齐放、百家争鸣”的双百方针，以“测绘地理信息成果社会化应用和繁荣地图出版”为己任，传承文化精神，创新出版事业。 </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建社32年来，累计出版图书4000多种。改制后的西图社，在出版战略上，发展目标明确，坚持把社会效益放在首位，注重社会效益和经济效益相统一，大力抓精品工程建设。2012年～2016年完成出版项目800多种，其中《三峡库区地图集》《陕西森林景观地图》《陕西省领导用图》等27个作品分别获得优秀裴秀金奖、银奖和铜奖。《丝绸之路经济带核心区域地图集》《中国城市社区体系演化研究》等20多个项目获得国家出版基金资助和陕西省出版基金资助。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;今后，西图社将继续按照党管文化企业的精神，不断优化产品结构，满足人民群众日益增长的精神文化需求，打造核心出版物，为我国出版事业的发展做出贡献。</p>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <h3>友情链接</h3>
                <ul class="float">
                    @foreach (BannerNewsEntity entity in Model.BannerNewsList) {
                        <li><a href="@entity.URL" target="_blank">@entity.Title</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <h3>快捷导航</h3>
                <ul class="float">
                    <li><a href="/">首页</a></li>
                    <li><a href="/News">西图动态</a></li>
                    <li><a href="/MapCulture" class="sf-with-ul">地图文化</a></li>
                    <li><a href="/Books">网上书店</a></li>
                    <li><a href="/Customization">产品定制</a></li>
                    <li><a href="/Service">业务服务</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <h3>关于我们</h3>
                <ul class="float">
                    @foreach (NewsEntity entity in Model.AboutUs) {
                        <li><a href="/AboutUs/@entity.NewsId">@entity.FullHead</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-12 fh5co-copyright text-center">
            <p>版权所有：西安地图出版社 编号：陕网文[2012]0118-001号 陕ICP备 06004576号 增值电信业务许可证B-20120015</p>
        </div>
    </div>
</footer>