@{
    ViewBag.Title = "关于我们";
    ViewBag.navIndex = 6;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model LeaRun.Application.Web.Controllers.HomeViewModel
<div>
    <img src="~/images/baneer1.png" class="img-responsive" />
</div>
<div class="content-navbar">
    <div class="container">
        <div class="row">
            <div class="content-quicknva">
                <ul>
                    @for (int i = 0; i < Model.AboutUs.Count; i++) {
                        <li @(i%2 == 0 ? "class=col-xs-6-nav" : "")>
                            <a href="/AboutUs/@Model.AboutUs[i].NewsId" @(Model.AboutUs[i].NewsId == Model.CurrentArticle.NewsId ? "class=active" : "")>@Model.AboutUs[i].FullHead</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="best-deal">
    <div class="container" style="background: white; padding: 35px 25px;">
        <div class="row">
            @Html.Raw(HttpUtility.HtmlDecode(Model.CurrentArticle.NewsContent))
        </div>
    </div>
</div>