@{
    ViewBag.navIndex = -1;
    Layout = "~/Views/Shared/_LayoutEBook.cshtml";
}
<script src="~/Content/scripts/utils/learun-ui.js"></script>
<script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
<link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/scripts/jplayer/jquery.jplayer.min.js"></script>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="best-deal">
    <div class="container ddss" style="background: white; padding: 35px 25px;">
        <div style="text-align: center;">
            <h3 style="margin-bottom: 20px; text-align: center" id="title">
                <i class="fa fa-book ebook-mark" title="书签"></i><span id="bookname"></span><i class="fa fa-bookmark ebook-bookmark" title="加入书签"></i>
            </h3>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-group-sm ebook-btn pull-left" role="group">
                    <button type="button" class="btn">字体:</button>
                    <button type="button" class="btn ebook-font" onclick="changesize(this, 'ebook-content-large')">大</button>
                    <button type="button" class="btn ebook-font" onclick="changesize(this, 'ebook-content-normal')">中</button>
                    <button type="button" class="btn ebook-font" onclick="changesize(this, 'ebook-content-small')">小</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="btn-group btn-group-sm ebook-btn pull-right" role="group">
                    <button type="button" class="btn ebook-font ebook-peyes">护眼</button>
                    <button type="button" class="btn ebook-font ebook-light">关灯</button>
                    <button type="button" class="btn ebook-font ebook-music" style="display: none">音乐:关</button>
                </div>
            </div>
        </div>
        <div class="ebook-content-normal" id="ebook-content">

        </div>
        <div class="row" style="text-align: center; margin-top: 20px;">
            <div class="btn-group btn-group-sm ebook-btn ebook-pager" role="group">
            </div>
        </div>
        <input id="sortcontent" type="hidden" />
    </div>
</div>
<script>
    var pagecount = 0;
    var page = 1;
    function gopage() {
        var gp = $(".gpinput").val();
        if (gp < 1 || gp > pagecount) {
            dialogMsg("请输入正确的页码！", 2);
        } else {
            getpage(gp);
        }
    }
    function getpage(p, f, toc) {
        $.ajax({
            url: "/Default/GetEBookPage",
            data: { id: '@ViewContext.RouteData.Values["id"]', page: p, toc: toc },
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.type == "1") {
                    page = p = parseInt(data.resultdata.CurrentPage);
                    document.title = data.resultdata.EBook.FullHead;
                    pagecount = data.resultdata.EBook.PageCount;
                    $("#bookname").html(data.resultdata.EBook.FullHead);
                    $("#ebook-content").html(data.resultdata.PageContent);
                    $("#ebook-content img").addClass("img-responsive");
                    $("#sortcontent").val(data.resultdata.SortContent);
                    if (data.resultdata.IsBookMark) {
                        $("#title i.ebook-bookmark").attr("title", "删除书签").addClass("booked");
                    } else {
                        $("#title i.ebook-bookmark").attr("title", "加入书签").removeClass("booked");
                    }
                    var mpager = "";
                    var pager = "<div class=\"m-pager\">";
                    mpager += '<ul class="pagination pagination-sm">';
                    if (data.resultdata.EBook.BookTablePage != null && data.resultdata.EBook.BookTablePage != "") {
                        mpager += "<li><a href=\"javascript:;\" onclick=\"getpage('" + data.resultdata.EBook.BookTablePage + "',false);\">目录</a></li>";
                    }
                    if (p > 1) {
                        mpager += '<li><a href="javascript:;" onclick="getpage(\'' + (parseInt(p) - 1) + '\');"><<</a></li>';
                    }
                    if (pagecount > 7) {
                        if (p >= 5) {
                            mpager += '<li><a href="javascript:;" onclick="getpage(1);">1...</a></li>';
                            if (p + 5 <= pagecount) {
                                for (var z = 2; z > 0; z--) {
                                    if (p - z > 0) {
                                        mpager += '<li><a href="javascript:;" onclick="getpage(\'' + (parseInt(p) - z) + '\');">' + (parseInt(p) - z) + '</a></li>';
                                    }
                                }
                                mpager += '<li><a href="javascript:;" class="active" onclick="getpage(\'' + p + '\');">' + p + '</a></li>';
                                for (var y = 1; y < 3; y++) {
                                    mpager += '<li><a href="javascript:;" onclick="getpage(\'' + (parseInt(p) + y) + '\');">' + (parseInt(p) + y) + '</a></li>';
                                }
                                mpager += '<li><a href="javascript:;" onclick="getpage(\'' + pagecount + '\');">...' + pagecount + '</a></li>';
                            } else {
                                for (var x = 4; x >= 0; x--) {
                                    if (p == (pagecount - x)) {
                                        mpager += '<li><a href="javascript:;" class="active" onclick="getpage(\'' + (pagecount - x) + '\');">' + (pagecount - x) + '</a></li>';
                                    } else {
                                        mpager += '<li><a href="javascript:;" onclick="getpage(\'' + (pagecount - x) + '\');">' + (pagecount - x) + '</a></li>';
                                    }
                                }
                            }
                        } else {
                            for (var i = 1; i < 6; i++) {
                                if (p == i) {
                                    mpager += '<li><a href="javascript:;" class="active" onclick="getpage(\'' + i + '\');">' + i + '</a></li>';
                                } else {
                                    mpager += '<li><a href="javascript:;" onclick="getpage(\'' + i + '\');">' + i + '</a></li>';
                                }
                            }
                            mpager += '<li><a href="javascript:;" onclick="getpage(\'' + pagecount + '\');">...' + pagecount + '</a></li>';
                        }
                    } else {
                        for (var k = 1; k <= pagecount; k++) {
                            if (p == k) {
                                mpager += '<li><a href="javascript:;" class="active" onclick="getpage(\'' + k + '\');">' + k + '</a></li>';
                            } else {
                                mpager += '<li><a href="javascript:;" onclick="getpage(\'' + k + '\');">' + k + '</a></li>';
                            }
                        }
                    }
                    if (p < pagecount) {
                        mpager += '<li><a href="javascript:;" onclick="getpage(\'' + (parseInt(p) + 1) + '\');">>></a></li>';
                    }
                    if (pagecount > 7) {
                        mpager += '<li><input class="ui-pg-input gpinput" style="padding: 0;margin: 0;float: left; width: 40px; border: 1px solid #ddd; height: 29.19px; padding: 2px 5px;"/></li>';
                        mpager += '<li><a href="javascript:;" onclick="gopage();">GO</a></li>';
                    }
                    mpager += '</ul>';

                    if (p - 1 > 0) {
                        pager += "<button type=\"button\" class=\"btn ebook-font\" onclick=\"getpage(" + (parseInt(p) - 1) + ");\">上一页</button>";
                    }
                    if (data.resultdata.EBook.BookTablePage != null && data.resultdata.EBook.BookTablePage != "") {
                        pager += "<button type=\"button\" class=\"btn ebook-font\" onclick=\"getpage('" + data.resultdata.EBook.BookTablePage + "',false);\">目录</button>";
                    }
                    if (p + 1 < pagecount) {
                        pager += "<button type=\"button\" class=\"btn ebook-font\" onclick=\"getpage(" + (parseInt(p) + 1) + ");\">下一页</button>";
                    }
                    pager += "</div>";
                    $(".ebook-pager").html(pager + mpager);
                    $("html,body").scrollTop($("#best-deal").offset().top);
                    if (f && data.resultdata.EBook.MusicPath != null && data.resultdata.EBook.MusicPath != "") {
                        $(".ebook-music").show();
                        $("#jquery_jplayer_1").jPlayer({
                            ready: function () {
                                $(this).jPlayer("setMedia", {
                                    //title: "Bubble",
                                    mp3: data.resultdata.EBook.MusicPath
                                })//.jPlayer("play");
                            },
                            loop: true,
                            solution: 'html, flash',
                            wmode: "window",
                            swfPath: "/Content/scripts/jplayer",
                            supplied: "mp3",
                            useStateClassSkin: true,
                            autoBlur: false,
                            smoothPlayBar: true,
                            keyEnabled: true,
                            remainingDuration: true,
                            toggleDuration: true
                        });
                    }
                    if (f && data.resultdata.LastRead != null) {
                        $('<a href="javascript:;" onclick="getpage(\'' + data.resultdata.LastRead.Page + '\', false)">跳转到最后阅读位置</a>').insertAfter("#title").hide(3000);
                    }
                    $('[docparttype="Table of Contents"] a').click(function (e) {
                        e.preventDefault();
                        var href = $(this).attr("href");
                        getpage(1, false, href.substring(href.lastIndexOf("#_Toc")));
                        return false;
                    });
                } else {
                    dialogMsg(data.message, data.type);
                }
            }
        });
    };
    function changesize(obj, fs) {
        $("#ebook-content").removeClass("ebook-content-small").removeClass("ebook-content-large").removeClass("ebook-content-normal").addClass(fs);
        $(obj).addClass("active").siblings().removeClass("active");
    }
    function getmark(page) {
        getpage(page);
        $('.ebook-mark').popover('hide');
    }
    function delmark(obj, id, p) {
        $.ajax({
            url: "/Default/DelBookMark",
            data: { id: id },
            type: "get",
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.type == "1") {
                    $(obj).parent().parent().remove();
                    if (page == p) {
                        $("#title i.ebook-bookmark").attr("title", "加入书签").removeClass("booked");
                    }
                } else {
                    dialogMsg(data.message, data.type);
                }
            }
        });
    }
    $(function () {
        $(".ebook-music").click(function () {
            if ($(this).hasClass("active")) {
                $("#jquery_jplayer_1").jPlayer("pause");
                $(this).removeClass("active").text("音乐:关");
            } else {
                $("#jquery_jplayer_1").jPlayer("play");
                $(this).addClass("active").text("音乐:开");
            }
        });
        $(".ebook-peyes").click(function () {
            $(".ebook-light").text("关灯");
            if ($(this).hasClass("active")) {
                $("#best-deal").removeClass("ebook-content-light").removeClass("ebook-content-peyes");
                $(this).removeClass("active");
            } else {
                $("#best-deal").removeClass("ebook-content-light").addClass("ebook-content-peyes");
                $(this).addClass("active");
            }
            $(".ebook-light").removeClass("active");
        });
        $(".ebook-light").click(function () {
            if ($(this).hasClass("active")) {
                $("#best-deal").removeClass("ebook-content-peyes").removeClass("ebook-content-light");
                $(this).text("关灯").removeClass("active");
            } else {
                $("#best-deal").removeClass("ebook-content-peyes").addClass("ebook-content-light");
                $(this).text("开灯").addClass("active");
            }
            $(".ebook-peyes").removeClass("active");
        });
        $(".fa-bookmark").click(function () {
            $.ajax({
                url: "/Default/SaveBookMark",
                data: { id: '@ViewContext.RouteData.Values["id"]', page: page, sortcontent: $("#sortcontent").val() },
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.type == "1") {
                        if (data.message == "0") {
                            dialogMsg("删除书签", data.type);
                            $("#title i.ebook-bookmark").attr("title", "加入书签").removeClass("booked");
                        } else {
                            dialogMsg("加入书签", data.type);
                            $("#title i.ebook-bookmark").attr("title", "删除书签").addClass("booked");
                        }
                    } else {
                        dialogMsg(data.message, data.type);
                    }
                }
            });
        });
        $('body').on('click', function (e) {
            if (!$(e.target).hasClass('ebook-mark')) {
                $('.ebook-mark').popover('hide');
            }
        });
        $('.ebook-mark').click(function (e) {
            $.ajax({
                url: "/Default/GetBookMark",
                data: { id: '@ViewContext.RouteData.Values["id"]' },
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.length > 0) {
                        var html = "";
                        for (var i = 0; i < data.length; i++) {
                            html += '<div class="markp"><p onclick="getmark(' + data[i].Page + ');">第' + data[i].Page + '页：' + data[i].PageContent + '</p><p style="text-align:right"><span>' + data[i].CreateDate + '</span>    <a href="javascript:;" onclick="delmark(this,\'' + data[i].BookMarkId + '\',\'' + data[i].Page + '\')">删除</a></p></div>';
                        }
                        $('.ebook-mark').popover({
                            trigger: 'manual',
                            placement: 'bottom',
                            html: true,
                            template: '<div class="popover"><div class="popover-title"></div><div class="popover-content"></div></div>'
                        });
                        $('.ebook-mark').data('bs.popover').options.content = html;
                        $('.ebook-mark').popover('show');
                        $('.popover').css({ 'left': $('.ebook-mark').offset().left + 'px', 'maxWidth': $('.ebook-mark').parent().parent().width() });
                    }
                }
            });
        });
        getpage(1, true);
    });
</script>