@{
    ViewBag.Title = "忘记密码";
    ViewBag.navIndex = -1;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
<div style="background-image: url('../../images/baneer1.png');background-size:cover; ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-5 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0" style="margin: 70px 0;background: white">
                <div class="signup">
                    <h3>忘记密码</h3>
                    <label class="control-label" style="margin-bottom: 15px;">发送重置密码邮件到您注册时填写的邮箱</label>
                    <form class="form-horizontal" role="form" id="Regform">
                        <div class="form-group">
                            <label for="email" class="control-label col-sm-3 col-xs-12">邮箱地址</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" placeholder="请输入邮箱地址">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-md-push-3">
                                <button type="button" class="btn btn-default sendver" id="register_getcode">发送邮件</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    /*=========注册账户（begin）================================================================*/
    $(function () {
        //手机号离开事件
        $("#email").blur(function () {
            var search_str = /^[\w\-\.]+@@[\w\-\.]+(\.\w+)+$/;
            if ($(this).val() != "" && !search_str.test($(this).val())) {
                $(this).focus();
                formMessage('邮箱地址格式不正确,请输入正确格式的邮箱地址。');
            } else {
                $('.regmsg').remove();
            }
        });
        
        //获取验证码
        $("#register_getcode").click(function () {
            var $this = $(this);
            $this.attr('disabled', 'disabled');
            addCookie("secondsremained1", 60, 60);//添加cookie记录,有效时间60s
            settime($this);//开始倒计时
            $.ajax({
                url: "/Default/SendPwd",
                data: { mobileCode: $("#email").val() },
                type: "get",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data.type == 1) {
                        formMessage('重置邮件已发送到您的邮箱，请注意查收。', 1);
                    } else {
                        editCookie("secondsremained1", 0, 0);
                        clearTimeout(sto);
                        $this.removeAttr('disabled');
                        $("#register_getcode").html("发送邮件");
                        formMessage(data.message);
                    }
                }
            });
        });
        v = getCookieValue("secondsremained1");//获取cookie值
        if (v > 0) {
            settime($("#register_getcode"));//开始倒计时
        }
    })

    //开始倒计时
    var countdown;
    var sto;
    function settime(obj) {
        countdown = getCookieValue("secondsremained1");
        if (countdown == 0) {
            obj.removeAttr("disabled");
            obj.html("发送邮件");
            return;
        } else {
            obj.attr("disabled", true);
            obj.html("重新发送(" + countdown + ")");
            countdown--;
            editCookie("secondsremained1", countdown, countdown + 1);
        }
        sto=setTimeout(function () { settime(obj) }, 1000) //每1000毫秒执行一次
    }
    function addCookie(name, value, expiresHours) {
        var cookieString = name + "=" + escape(value);
        //判断是否设置过期时间,0代表关闭浏览器时失效
        if (expiresHours > 0) {
            var date = new Date();
            date.setTime(date.getTime() + expiresHours * 1000);
            cookieString = cookieString + ";expires=" + date.toUTCString();
        }
        document.cookie = cookieString;
    }
    //修改cookie的值
    function editCookie(name, value, expiresHours) {
        var cookieString = name + "=" + escape(value);
        if (expiresHours > 0) {
            var date = new Date();
            date.setTime(date.getTime() + expiresHours * 1000); //单位是毫秒
            cookieString = cookieString + ";expires=" + date.toGMTString();
        }
        document.cookie = cookieString;
    }
    //根据名字获取cookie的值
    function getCookieValue(name) {
        var strCookie = document.cookie;
        var arrCookie = strCookie.split("; ");
        for (var i = 0; i < arrCookie.length; i++) {
            var arr = arrCookie[i].split("=");
            if (arr[0] == name) {
                return unescape(arr[1]);
                break;
            } else {
                return "";
                break;
            }
        }

    }
    /*=========注册账户（end）================================================================*/
</script>

