@{
    ViewBag.Title = "西图动态";
    ViewBag.navIndex = 1;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model LeaRun.Application.Web.Controllers.HomeViewModel

<div>
    <img src="~/images/baneer1.png" class="img-responsive" />
</div>
<div class="content-navbar">
    <div class="container">
        <div class="row">
            <div class="content-quicknva">
                <ul>
                    @for (int i = 0; i < Model.DataItemList.Count; i++) {
                        <li @(i % 2 == 0 ? "class=col-xs-6-nav" : "")>
                            <a href="javascript:;">@Model.DataItemList[i].ItemName</a>
                        </li>
                    }
                    <li style="float: right" class="col-xs-search">
                        <form id="custom-search-form" class="form-search pull-right">
                            <div class="input-append">
                                <input type="text" class="search-query" placeholder="搜索" id="keyword">
                                <button type="button" class="btn" id="news-search"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div id="best-deal">
    <div class="container" style="background: white; padding: 35px 25px;">
        <div class="row">
            <div id="news-content"></div>
            <div class="col-md-12" style="text-align: center; display: none;" id="page-more">
                <a href="javascript:;" class="btn btn-primary">加载更多</a>
            </div>
        </div>
    </div>
</div>
<script>
    var page = 1;
    var category = '';
    function initdata() {
        var queryJson = {
            Category: $(".content-quicknva ul li a.active").text(),
            FullHead: $("#keyword").val(),
            TypeId: 3
        }
        $.ajax({
            url: "/Default/GetNewsJson",
            type: "get",
            dataType: "json",
            data: { sord: "DESC", sidx: "CreateDate", page: page, rows: 16, queryJson: JSON.stringify(queryJson) },
            success: function (data) {
                if (data.rows.length > 0) {
                    var html = "";
                    $.each(data.rows, function (i) {
                        html += '<div class="col-md-3 item-block animate-box" data-animate-effect="fadeIn">';
                        html += '<div class="fh5co-property">';
                        html += '<div class="fh5co-property-title">';
                        html += '<h5><a href="#">' + data.rows[i].FullHead + '</a></h5>';
                        html += '<p>' + data.rows[i].CreateDate + '</p>';
                        html += '</div>';
                        html += '<figure>';
                        html += '<img src="' + data.rows[i].NewsImage + '" alt="" class="img-responsive">';
                        html += '</figure>';
                        html += '<div class="fh5co-property-innter">';
                        html += '<p>' + data.rows[i].NewsContent + '</p>';
                        html += '</div>';
                        html += '<p class="fh5co-property-specification">';
                        html += '<span>' + data.rows[i].AuthorName + '</span>  <span class="comments-bar"><i class="icon-thumbs-o-up"></i>' + data.rows[i].PV + '<i class="icon-comments"></i>10</span>';
                        html += '</p>';
                        html += '</div>';
                        html += '</div>';
                    });
                    $("#news-content").append(html);
                    contentWayPoint();
                    if (data.page < data.total) {
                        $("#page-more").show();
                    } else {
                        $("#page-more").hide();
                    }
                }
            }
        });
    }
    $(function () {
        $(".content-quicknva ul li a").click(function () {
            $(".content-quicknva ul li a").removeClass("active");
            $(this).addClass("active");
            $("#news-content").empty();
            initdata();
        });
        $("#page-more").click(function () {
            page = page + 1;
            initdata();
        });
        $("#news-search").click(function () {
            $("#news-content").empty();
            initdata();
        });
        initdata();
    });
</script>