@{
    ViewBag.Title = "业务服务";
    ViewBag.navIndex = 5;
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@model LeaRun.Application.Web.Controllers.HomeViewModel
<div>
    <img src="~/images/baneer1.png" class="img-responsive" />
</div>
<div class="content-navbar">
    <div class="container">
        <div class="row">
            <div class="content-quicknva">
                <ul>
                    <li class="col-xs-6-nav">
                        <a href="/Reader">读者服务</a>
                    </li>
                    <li>
                        <a href="/Contributor">作者服务</a>
                    </li>
                    @for (int i = 0; i < Model.NewsList.Count; i++)
                    {
                        <li @(i%2 == 0 ? "class=col-xs-6-nav" : "")>
                            <a href="/Service/@Model.NewsList[i].NewsId" @(Model.NewsList[i].NewsId == Model.CurrentArticle.NewsId ? "class=active" : "")>@Model.NewsList[i].FullHead</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="best-deal">
    <div class="container" style="background: white; padding: 35px 25px;">
        <div class="row">
            @Html.Raw(HttpUtility.HtmlDecode(Model.CurrentArticle.NewsContent))
        </div>
    </div>
</div>